<div class="jumbotron">
  <h2>Admin Dashboard</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>
          Number of products in store:
          <h2><%= @number_of_products %></h2>
        </td>
        <td>
          <%= link_to 'Products List', admin_products_path, class: "btn btn-success" %>
        </td>
      </tr>
      <tr>
        <td>
          Number of product categories:
          <h2><%= @number_of_categories %></h2>
        </td>
        <td>
          <% @categories.each do |category| %>
            <%= link_to "#{category.name}", category_path(category.id), class: "btn btn-info" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

